<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--<context:annotation-config></context:annotation-config>-->
    <context:component-scan base-package="com.wy.service;com.wy.domain;com.wy.middleware"/>

    <!--<aop:aspectj-autoproxy />-->

    <!-- 配置messageSource, 需要设置defaultEncoding, 否则读取出来的消息会乱码 -->
    <bean id="messageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource"
          p:defaultEncoding="UTF-8">
        <property name="basenames">
            <list>
                <value>properties/i18n/messages</value>
                <value>properties/i18n/content</value>
            </list>
        </property>
    </bean>

    <!-- 配置上下文属性 -->
    <context:property-placeholder location="classpath*:*.properties"/>

    <import resource="spring-db.xml"/>
    <!--<import resource="spring-dubbo.xml" />-->

    <!-- spring kafka相关配置 -->
    <import resource="classpath*:spring-kafka-producer.xml"/>
    <import resource="classpath*:spring-kafka-consumer.xml"/>


</beans>