<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!-- 配置属性文件 -->
    <properties url="file:///Users/yuanwang/work/fenbeitong_workspace/springTest_20170731/src/main/resources/generator/mybatis-generator-jd-work.properties" />
    <!-- 配置数据库驱动包的路径，从属性文件中获取 -->
    <classPathEntry location="${db.mysql.driver.path}" />
    <context id="mysqlTableGenerator" defaultModelType="flat" targetRuntime="MyBatis3">
        <!-- 生成文件中的注释配置 -->
        <commentGenerator>
            <property name="suppressAllComments" value="true" />
            <property name="suppressDate" value="true" />
        </commentGenerator>

        <!-- jdbc连接相关信息 -->
        <jdbcConnection driverClass="${db.mysql.driver}" connectionURL="${db.mysql.url}" userId="${db.mysql.username}"
                        password="${db.mysql.password}" />

        <!-- jdbc类型与java类型映射配置 -->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <!-- 配置生成数据表对象对应的实体类 -->
        <javaModelGenerator targetPackage="${entity.path}" targetProject="${project.path}">
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!-- 配置生成xml映射文件相关的属性 -->
        <sqlMapGenerator targetPackage="${xmlmapper.path}" targetProject="${project.xml.path}" >
        </sqlMapGenerator>

        <!-- 配置生成映射器对应的接口 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="${mapper.path}" targetProject="${project.path}">
        </javaClientGenerator>

        <!-- 配置需要生成文件的数据表，只有配置的才会生成实体类和其他文件-->
        <!-- 该元素至少要配置一个，可以配置多个 -->
       <!-- <table tableName="cashier_default_customized_template" mapperName="CashierDefaultCustomizedTemplateMapper"
               enableSelectByExample="true" enableDeleteByExample="true"
               enableCountByExample="true" enableUpdateByExample="true"
               selectByExampleQueryId="false">
            &lt;!&ndash;<generatedKey column="id" sqlStatement="MySql" identity="true" type="post" />&ndash;&gt;
        </table>-->

        <table tableName="cashier_template_basic" mapperName="CashierTemplateBasicMapper"
               enableSelectByExample="true" enableDeleteByExample="true"
               enableCountByExample="true" enableUpdateByExample="true"
               selectByExampleQueryId="false">
        </table>

        <table tableName="cashier_template_pay_method_relation" mapperName="CashierTemplatePayMethodRelationMapper"
               enableSelectByExample="true" enableDeleteByExample="true"
               enableCountByExample="true" enableUpdateByExample="true"
               selectByExampleQueryId="false">
        </table>



    </context>
</generatorConfiguration>